html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
}

/*FONTS AND TYPE STYLES*/

h1 {
    padding: 32px;
    text-align: center;
    margin: 0px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 14px;
    color: darkgray;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

quote {
    font-size: 11px;
    color: darkgrey;
}

.CTA {
    font-size: 11px;
    color: navy
}

/*NAVIGATION*/

header {
    height: 64px;
    align-items: center;
    padding-top: 24px;
    background-color: #f5f5f5;
    padding-left: 24px;
    padding-right: 24px;
}

logo {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
}

logo img {
    height: 40px;
}

logo p {
    font-size: 18px;
    color:black;
}

nav {
    float: right;
}

nav a {
    font-size: small;
    padding: 16px;
}

/*HERO*/

hero {
    background-color: rgb(220, 231, 241);
    display: flex;
    align-items: center;
}

hero img {
    width: 60%;
    padding-top: 32px;
    padding-left: 24px;
    padding-bottom: 32px;
    padding-right: 24px;
}

hero copy {
    padding-right: 80px;
}

hero p {
    color: black;
}

hero copy h1 {
    text-align: left;
    padding: 0px 0px 16px 0px;
}

button {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 16px;
}

/*FEATURED*/

featured {
    display: flex;
    background-color: #f5f5f5;
}

.container-left{
    width: 60%;
    align-items: center;
    padding: 32px;
    padding-right: 12px
}

.container-left img {
    width:100%;
}

.container-right {
    width: 40%;
    align-items: center;
    padding: 32px;
    padding-left: 12px;
}

featured card {
    display: inline-flex;
    background-color: white;
    margin-bottom: 10px;
    align-items: center;
}

featured card img {
    width: 35%;
    height: auto;
    object-fit: cover;
    padding: 16px;
}

card copy {
    padding: 10px;
}

/*COURSES*/

.learning {
    background-color: lightgray;
    padding-bottom: 80px;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    padding-left: 72px;
    padding-right: 72px;
    justify-content: center;
}

.courses card {
    background-color: white;
    width: 300px;
    margin: 12px;
    padding: 16px;
    border-radius: 10px;
}

.courses img {
    width: 332px;
    margin:-16px;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    filter: drop-shadow(2, 2, 4, #868686)

}

.courses card copy {
    padding: 8px;
}

/*THESIS*/

.thesis-containers {
    display: flex;
}

.container-left video {
    width: 800px;
}

.thesis-containers card {
    display: inline-flex;
    background-color: white;
    margin-bottom: 10px;
    align-items: center;
}

.thesis-containers card img {
    width: 35%;
    height: auto;
    object-fit: cover;
    padding: 16px;
}

#hover {
    background-color: rgb(239, 239, 239);
}

.container-left video {
    width: 100%;
}

/*FOOTER*/

footer {
    align-items: center;
    
}